/* .projectslide:hover{
   

} */
.details{ display:none; } 
 .projectslide:hover .details{ display:flex; } 


.bg-hover{
    
    background-color: rgba(0,0,0,.9);
}
.custom-btn{
    background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
}
.logo-img{
    height: 50px;
}